# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

/.env*
!/.env*.erb

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/config/master.key
/config/credentials/*.key

/node_modules

/public/assets

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/uploads

.DS_Store

.idea/
*.swp
*.swo
*~

.byebug_history
