# Example credentials file for Blind Spotify
# Copy this structure to your Rails credentials:
#   rails credentials:edit
#
# Get your Spotify credentials from:
#   https://developer.spotify.com/dashboard

spotify:
  client_id: your_spotify_client_id
  client_secret: your_spotify_client_secret

# Alternatively, use environment variables:
#   SPOTIFY_CLIENT_ID=your_client_id
#   SPOTIFY_CLIENT_SECRET=your_client_secret
